.nav {
	@include padding(null 2em);
    overflow: hidden;
    background-color: $color-white;
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: right;

    .nav-left {
    	float: left;
    }

	a {
		display: inline-block;
	    color: $color-black;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    transition: 0.3s;
	    font-size: 17px;
	}
}