// TYPOGRAPHY (edit)
$font-primary: Avenir, sans-serif;
$font-secondary: Avenir, sans-serif;

$base-font-size: 1em;

//Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

//Animations
$base-duration: 150ms;
$base-timing: ease;